html, body {
    margin: 0;
    height: 100%;
}

.RPS_root{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.RPS_score{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 500px;
    width: 100px;
    align-items: center;
    font-size: 40px;
    flex: 1;
}

.RPS_scoreBox{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 340px;
    align-items: center;
}

.RPS_scoreBlock{
    background-color: red;
    height: 60px;
    width: 60px;
    border-radius: 5px;
}

.RPS_scoreBlock.playerScore{
    background-color: blue;
}

.RPS_winLine{
    height: 2px;
    width: 70px;
    justify-self: flex-end;
    background-color: red;
}

.RPS_winLine.player{
    background-color: blue;
}

.RPS_textDisplay{
    text-align: center;
    margin-top: 180px;
    height: 50px
}

.RPS_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-self: center;
    margin-top: 100px;
}

.RPS_img{
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.RPS_gameContent{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
}