html, body {
    margin: 0;
    height: 100%;
}

.RPS_root{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.RPS_score{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 500px;
    width: 100px;
    align-items: center;
}

.RPS_scoreBlock{
    background-color: red;
    height: 60px;
    width: 60px;
    border-radius: 5px;
}

.RPS_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.RPS_img{
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.RPS_scores{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 120px;
    margin-bottom: 20px;
}

.RPS_score{
    font-size: 40px;
}